.nav1 {
  color: #FFFFFF;
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav1 ul {
  margin: 0;
  padding: 15px;
  padding-right: 200px;
  padding-left: 100px;
  list-style: none;
  color: #FFFFFF;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.nav1 li {
  display: inline-block;
  color: #FFFFFF;
  margin-left: 15px;
  margin-right: 5px;
  flex: 1;
  text-align: left;
}
.nav1 li:hover {
  text-decoration: underline;
}
.nav1 a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}
.nav1 a:hover {
  text-decoration: underline;
}
.nav1 button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #FFFFFF;
}
.nav1 button:hover {
  text-decoration: underline;
}
.nav1 select {
  background-color: transparent;
  border: none;
  outline: none;
  color: #FFFFFF;
}
.nav1 select:hover {
  text-decoration: underline;
}
.nav1 select option {
  color: #FFFFFF;
}

.header {
  background-color: #541554;
}
.header__text1 {
  color: #FFFFFF;
}
.header__text1--h1 {
  color: #ECB22E;
}

.a {
  text-decoration: none;
  color: black;
}
.a-w {
  color: #FFFFFF;
}
.a-w-m {
  border-radius: 5px;
  padding: 10px 20px; /* Padding alrededor del enlace */
  border: 2px solid #FFFFFF;
}
.a-w-b {
  display: flex;
  border-radius: 5px;
  padding: 10px 20px; /* Padding alrededor del enlace */
  border: 2px solid #FFFFFF;
  background-color: #541554;
  font-weight: bold;
  justify-content: center; /* Alinea el contenido horizontalmente al centro */
  align-items: center; /* Alinea el contenido verticalmente al centro */
}
.a-p {
  color: #541554;
}
.a-p-m {
  display: flex;
  border-radius: 5px;
  padding: 10px 20px; /* Padding alrededor del enlace */
  border: 2px solid #541554;
  background-color: #FFFFFF;
  font-weight: bold;
  justify-content: center; /* Alinea el contenido horizontalmente al centro */
  align-items: center; /* Alinea el contenido verticalmente al centro */
}
.a-p-f {
  display: flex;
  border-radius: 5px;
  padding: 15px 20%; /* Padding alrededor del enlace */
  border: 2px solid #541554;
  background-color: #FFFFFF;
  font-weight: bold;
  justify-content: center; /* Alinea el contenido horizontalmente al centro */
  align-items: center; /* Alinea el contenido verticalmente al centro */
}
.a-p-g {
  display: flex;
  border-radius: 5px;
  padding: 15px 20%; /* Padding alrededor del enlace */
  border: 2px solid #541554;
  background-color: #4285F4;
  font-weight: bold;
  justify-content: center; /* Alinea el contenido horizontalmente al centro */
  align-items: center; /* Alinea el contenido verticalmente al centro */
}

.flex {
  display: flex;
}
.flex-c {
  flex-direction: column;
}
.flex-ci {
  flex-direction: column-reverse;
}
.flex-ri {
  flex-direction: row-reverse;
}
.flex-r {
  flex-direction: row;
}
.flex-jc {
  display: flex;
  justify-content: center;
  justify-content: center;
}
.flex-as {
  align-items: flex-start;
}

.margin {
  margin: 50px;
}
.margin-r {
  margin-right: 50px;
}
.margin-l {
  margin-left: 50px;
}
.margin-t {
  margin-top: 50px;
}
.margin-b {
  margin-bottom: 50px;
}

.margin100 {
  margin: 100px;
}
.margin100-l {
  margin-left: 100px;
}
.margin100-r {
  margin-right: 100px;
}
.margin100-t {
  margin-top: 100px;
}
.margin100-b {
  margin-bottom: 100px;
}

.margin200 {
  margin: 200px;
}
.margin200-l {
  margin-left: 200px;
}
.margin200-r {
  margin-right: 200px;
}
.margin200-t {
  margin-top: 200px;
}
.margin200-b {
  margin-bottom: 200px;
}

.margin300 {
  margin: 300px;
}
.margin300-l {
  margin-left: 300px;
}
.margin300-r {
  margin-right: 300px;
}
.margin300-t {
  margin-top: 300px;
}
.margin300-b {
  margin-bottom: 300px;
}
.margin300-lr {
  margin: 0px 300px;
}

.padding100 {
  padding: 100px;
}
.padding100-l {
  padding-left: 100px;
}
.padding100-r {
  padding-right: 100px;
}
.padding100-t {
  padding-top: 100px;
}
.padding100-b {
  padding-bottom: 100px;
}

.padding200 {
  padding: 200px;
}
.padding200-l {
  padding-left: 200px;
}
.padding200-r {
  padding-right: 200px;
}
.padding200-t {
  padding-top: 200px;
}
.padding200-b {
  padding-bottom: 200px;
}
.padding200-lr {
  padding: 0px 200px;
}

.ul {
  margin: 0;
  padding: 15px;
  list-style: none;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
}
.ul li {
  display: inline-block;
  color: #FFFFFF;
  margin-left: 15px;
  margin-right: 5px;
  flex: 1;
  text-align: left;
}
.ul li:hover {
  text-decoration: underline;
}
.ul a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}
.ul a:hover {
  text-decoration: underline;
}
.ul button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #FFFFFF;
}
.ul button:hover {
  text-decoration: underline;
}
.ul select {
  background-color: transparent;
  border: none;
  outline: none;
  color: #FFFFFF;
}
.ul select:hover {
  text-decoration: underline;
}
.ul select option {
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */