$white: #FFFFFF;
$purple: #541554;
$orange: #ECB22E;
$grey: #F4EDE4;

body{
    margin: 0;
    width: 100%;
}
p,
h1,
h2,
.h3{
    margin: 0;
}
.h3
{
    padding: 30px;
}
.h2
{
    padding: 30px;
}
.h1
{
    padding: 30px;
}
.text{
    text-align: left;
    align-items: start;
    &-r{
    text-align: right;
    align-items: end;
    }
}
video{
    width: 700px;
}
.img{
    &-25{
        max-width:  25px;
    }
}

.ul {
    margin: 0;
    padding: 15px;
    padding-right: 200px;
    padding-left: 100px;
    list-style: none;
    color: #{$white};
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    // &:hover{
    //     // text-decoration: underline;
    // }

    li {
        display: inline-block;
        color: #{$white};
        margin-left: 15px;
        margin-right: 5px;
        flex: 1;
        text-align: left;
        &:hover{
            text-decoration: underline;
        }
    }
}
.overflow{
    width: 50%;
  height: 450px;
  scrollbar-width: none;
  white-space: wrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el texto que se desborda */
  text-overflow: ellipsis; /* Muestra "..." al final del texto */
}
.padding30{
    padding: 30px;
    &-l{
        padding-left: 30px;
    }
    &-r{
        padding-right: 30px;
    }
    &-t{
        padding-top: 30px;
    }
    &-b{
        padding-bottom: 30px;
    }
}
.padding50{
    padding: 50px;
    &-l{
        padding-left: 50px;
    }
    &-r{
        padding-right: 50px;
    }
    &-t{
        padding-top: 50px;
    }
    &-b{
        padding-bottom: 50px;
    }
}
.padding100{
    padding: 100px;
    &-l{
        padding-left: 100px;
    }
    &-r{
        padding-right: 100px;
    }
    &-t{
        padding-top: 100px;
    }
    &-b{
        padding-bottom: 100px;
    }
}
.center{
    text-align: center;
    align-items: center;
    justify-content: center; /* Alinea el contenido horizontalmente al centro */
    align-items: center; /* Alinea el contenido verticalmente al centro */
}
.center-i{
    
    justify-content: center; /* Alinea el contenido horizontalmente al centro */
     /* Alinea el contenido verticalmente al centro */
}
.p {
    &-o{
        color: #{$orange};
    }
    &-p{
        color: #{$purple};
    }
    &-w{
        color: #{$white};
    }
}
.size{
    font-size: 20px;
    &-b{
        font-size: 55px;
    }
    &-bm{
        font-size: 40px;
    }
    &-bmm{
        font-size: 30px;
    }
    &-m{
        font-size: 25px;
    }
    &-s{
        font-size: 15px;
    }
    &-bold{
        font-weight: bold;
    }
    &-italic{
        font-style: italic;
    }
}
.tc{
    &-w{
        color: #{$white};
    }
    &-p{
        color: #{$purple};
    }
}
.box{
    max-width: 100%;
    height: auto;
    &-bg{
        background-color: #{$purple};
    }
    &-m{
        max-width: 100%;
    }
    &-g{
        background-color: #{$grey};
    }
    &-1{
        max-width: 100%;
        // height: 500px;
    }
    &-cir{
        border: none;
        clip-path: ellipse(75% 100% at center top);
        height: auto;
        min-height: 370px;
    }
    // &-nl{
        
    // overflow: auto; /* Oculta el contenido que se sale de la caja */
    // word-wrap: break-word; /* Divide las palabras largas para que se ajusten dentro de la caja */
    // white-space: normal; /* Trata los espacios en blanco normales y los saltos de línea como se especifica en el contenido */
    // border: 1px solid #ff0000; /* Borde de la caja */
    // padding: 10px; /* Relleno interno de la caja */
    // }
}
.box2{
    max-width: 100%;
    height: auto;
    &-bg{
        background-color: #{$purple};
    }
    &-m{
        max-width: 100%;
    }
    &-g{
        background-color: #{$grey};
    }
}
.box3{
    max-width: 15%;
}
.box-v{
    &-border{
        overflow: hidden; /* Oculta el contenido fuera del contenedor */
        border-radius: 0 45% 45% 0; /* Forma circular en el lado izquierdo */
    }
}
.box4{
    display: flex;
    background-color: #fff;
    width: 100%;
    min-height: 420px;
    flex-direction: column;
    border-bottom: none;
    max-width: 285px;
    position: relative;
    z-index: 1;
    transition: transform 420ms cubic-bezier(.165,.84,.44,1);

}
.c-promo {
    display: flex;
    background-color: #fff;
    width: 100%;
    min-height: 420px;
    flex-direction: column;
    border-bottom: none;
    max-width: 285px;
    position: relative;
    z-index: 1;
    transition: transform 420ms cubic-bezier(.165,.84,.44,1);
    &__copy{
        flex: 1 1 auto;
        color: #000;
        padding: 0 0.75rem;
    }
    &__media {
        height: 13rem;
        overflow: hidden;
        width: 100%;
        position: relative;
        img {
            bottom: auto;
            top: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &__subheading{
        font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
        font-weight: 400;
        font-size: .875rem;
        color: #454245;
        margin: 8px 0 0;
        display: inline-block;
    }
    &__heading{
        font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
        font-weight: 700;
        letter-spacing: normal;
        font-size: 1.25rem;
        font-size: 1.4rem;
        color: #000;
        margin: 0.5rem 0 1rem;
        line-height: 30px;
    }
    &__ctas{
        display: flex;
        flex: 0 1 auto;
        margin-top: auto;
        margin-left: 12px;
    }
    &__ctas {
        margin-right: 40px;
    }
}
figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
*{ 
    ::after, ::before {
    box-sizing: inherit;
    }
}
html {
    box-sizing: border-box;
    font-size: 16px;
    color: #000;
}